@page
@model RazorPageHotelApp.Pages.Hotels.UpdateHotelModel
@{
}
<form method="post">
    <input type="hidden" asp-for="Hotel.HotelNr" />
    <div class="form-group">
        <label asp-for="@Model.Hotel.Navn" class="custom-control-label"></label>
        <input asp-for="@Model.Hotel.Navn" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Hotel.Adresse" class="custom-control-label"></label>
        <input asp-for="@Model.Hotel.Adresse" class="form-control" />
    </div>
    <input type="submit" value="update" class="btn btn-primary" />
</form>